@*@model List<AttendanceAdmin>




<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <h1 align="center">Employees List</h1>
            <div class="col-md-12">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Employee Name</th>
                                    <th>Status</th>
                                    <th>Regularized By</th>
                                    <th>Regularized On</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var attendance in Model)
                                {
                                    <tr>
                                        <td>@attendance.Date</td>
                                        <td>@attendance.CheckIn</td>
                                        <td>@attendance.CheckOut</td>
                                        <td>@attendance.Status</td>
                                        <td style="color:green">&#10004;</td>
                                    </tr>
                                    @if (attendance.ModifiedBy == null)
                                }
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

                                    *@