@*@model LeavePersonal

@section head{
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}

@{var employeeID = Context.Request.Query["EmployeeID"];}

<style>
    body {
        background-image: linear-gradient(#0062cc,white,white);
        background-size: cover;
    }

    nav {
        border-bottom: #eaedef 1px solid;
    }

    form {
        border: 2px #0062cc solid;
        border-radius: 20px;
        background-image: linear-gradient(rgba(white, .1),rgba(white, .1));
    }
</style>

<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill bg-light" id="nav-tab" role="tablist">
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href=@Url.Action("AttendanceDetails",new{EmployeeID = employeeID}) role="tab" aria-controls="nav-profile" aria-selected="false">Attendance Details</a>
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Apply Leave</a>
                    </div>
                </nav>
                <div class="tab-content mt-5" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <form class="bg-light py-4 px-4" method="post">
                            <h1>Leave Application Form</h1>
                            <div class="NeededExtras">
                                <input type="hidden" value="@employeeID" asp-for="EmployeeID">
                            </div>
							<div class="row mt-3">
                                <div class="row my-3 col" id="SetLeave">
                                    <div class="col">
                                        <label>Date From*</label>
                                        <input id="setLeaveFrom" type="time" step="1" class="form-control input-sm" required asp-for="DateFrom">
                                    </div>
                                    <div class="col mt-2">
                                        <label>To Date *</label>
                                        <input id="setLeaveTo" type="time" step="1" class="form-control input-sm" required asp-for="ToDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-3">                                
                                <label for="reason">Reason *</label>
                                <input type="text" class="" id="reason" required asp-for="Reason">                               
                            </div>
                            <div class="row mx-auto my-3">
                                <input class="btn btn-outline-primary col" type="submit">
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

                                    *@