@model EmployeeRegularization

@section head{
    <!-- Include Bootstrap CDN -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}

@{
    var employeeID = Context.Request.Query["EmployeeID"];
    var attendanceID = Context.Request.Query["AttendanceID"];
}

<style>
    body {
        background-image: linear-gradient(#0062cc,white,white);
        background-size: cover;
    }

    nav {
        border-bottom: #eaedef 1px solid;
    }

    form {
        border: 2px #0062cc solid;
        border-radius: 20px;
        background-image: linear-gradient(rgba(white, .1),rgba(white, .1));
    }
</style>

@section header{}

<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="mt-lg-5 p-lg-4 mx-auto col-10 col-md-8 col-lg-6">
                            <form class="bg-light py-4 px-4" asp-action="RegularizeRequest" method="post">
                                <h1>Regularization Form</h1>
                                <div class="row mt-3">
                                    <div class="col">
                                        <label>Check In *</label>
                                        <input id="setCheckIn" type="time" class="form-control input-sm" required asp-for="CheckInTime" >
                                    </div>
                                    <div class="col">
                                        <label>Check Out *</label>
                                        <input id="setCheckOut" type="time" class="form-control input-sm" required asp-for="CheckOutTime">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <label for="AttendanceDate">Attendance Date</label>
                                        <input type="date" class="form-control input-sm" required asp-for="RegularizeDate">
                                    </div>
                                    <div class="col">
                                        <label for="reason">Reason</label>
                                        <textarea id="Reason" class="form-control input-sm" cols="" rows="1" asp-for="Reason"></textarea>
                                    </div>
                                </div>
                                <div class="row mx-auto my-3">
                                    <input class="btn btn-outline-primary col" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
           