@model Management.Enities.EmployeeEntities.EmployeePersonal

@{
    ViewData["Title"] = "Employee Registration";
}

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>We are glad to have a new talented person to our Company</p>
            <input type="submit" name="" value="Login"/><br/>
        </div>
        <form asp-action="SignUpForm" method="post">
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as a Employee</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" value="" asp-for="FirstName"/>
                            </div>
                            <div class="form-group">                                
                                <input type="text" class="form-control" placeholder="Last Name *" value="" asp-for="LastName"/>
                            </div>
                            <div class="form-group">                                
                                <input type="date" class="form-control"  placeholder="Birthdate *" value="" asp-for="DateOfBirth" />
                            </div>
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline"> 
                                        <input type="radio" name="gender" value="male" checked asp-for="Gender">
                                        <span> Male </span> 
                                    </label>
                                    <label class="radio inline"> 
                                        <input type="radio" name="gender" value="female" asp-for="Gender">
                                        <span>Female </span> 
                                    </label>
                                    <label class="radio inline"> 
                                        <input type="radio" name="gender" value="female" asp-for="Gender">
                                        <span>Other Gender</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Address *" value="" asp-for="Address"/>
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" class="form-control" placeholder="Contact Number *" value="" asp-for="Contact"/>
                            </div>
                            <div class="form-group">
                                <select class="form-control" asp-for="Designation">
                                    <option class="hidden"  selected disabled>Please select your Designation</option>
                                    <option>HR Manager</option>
                                    <option>Software Developer</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Approved By *" value="" asp-for="SignInApprovedBy"/>
                            </div>
                            <input type="submit" class="btnRegister"  value="Register"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<!-- Username and Password Section -->

<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Create your Login Credentials</h1>
    <label for="text" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <label for="inputPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required="">
    
    <button class="btnRegister" type="submit">SignUp</button>
</form>